
.library h2 {
    flex-grow: 1;
    font-size: small;
    margin: 0.5rem;
}

.item-list .list-group-item {
    cursor: pointer;
  }
  
.item-list .list-group-item:hover {
    background-color:mediumaquamarine;
}

.pickr {
    position: relative;
    height: 2em;
    width: 2em;
    padding: .5em;
    border-radius: .15em;
    cursor: pointer;
    background: transparent;
    transition: background-color .3s;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    box-sizing: border-box;
  }